.resto-col-1 {
	width: 70px;
    text-align:center;
}
.resto-col-2 {
	width: 200px;
    text-align:center;
}
.map-container {
  margin-left: none !important;
}
.restos-container {
  margin-left: auto !important;
}