@(lat: Double= null, lon: Double= null)

@scripts = {
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js' type="text/javascript"></script>
<link href="@routes.Assets.at("stylesheets/locate.css")" rel="stylesheet" />
<script src="@routes.Assets.at("javascripts/locate.js")" type="text/javascript" ></script>
}


@main(scripts) {

<div class="map-container container">
	<div id='map' ></div> 
</div>
<script>
@if(lat==null && lon==null) { 
	var lat, lon;
} else {
	var lat = @lat;
	var lon = @lon;
}
	
	var msg = "";
	var geoloc, fixedMarker, restoLayer;
	var circle;
	var circle_options = {
			    color: '#fff',      // Stroke color
			    opacity: 1,         // Stroke opacity
			    weight: 10,         // Stroke weight
			    fillColor: '#000',  // Fill color
			    fillOpacity: 0.1    // Fill opacity
		};
		
	var x = document.getElementById("demo");
		
	L.mapbox.accessToken = 'pk.eyJ1IjoicG9pcmVhdXh2aW5haWdyZXR0ZSIsImEiOiI0NEtNRWlRIn0.4wTUIsjTiZ6YhHu0ZVdk-w';
	var map = L.mapbox.map('map', 'poireauxvinaigrette.jgmlei0c'
			, { zoomControl: false }
	);
	
	
	//featureLayer = L.mapbox.featureLayer().addTo(map);
	L.control.locate().addTo(map);
	var restoLayer = L.mapbox.featureLayer().addTo(map);
	
	// Add custom popups to each using our custom feature properties
	restoLayer.on('layeradd', function(e) {
	    var marker = e.layer,
	        feature = marker.feature;

	    // Create custom popup content
	    var popupContent =  '<a class="popup" href="' + feature.properties.uri + '">' 
	                        + feature.properties.raisonSociale + '</a>'
	                        + ' ' + feature.properties.distance;
	    if (feature.properties.dujour) {
	         popupContent += '<br />' + feature.properties.dujour;
	    }
         if (feature.properties.menudujour) {
        	 popupContent += '<br /><b>' + feature.properties.menudujour + '</b>';
         }
	    

	    // http://leafletjs.com/reference.html#popup
	    marker.bindPopup(popupContent,{
	        closeButton: false
	       // , minWidth: 320
	    });
	});

	function loadRestos(latlng) {

		if (fixedMarker) {
			fixedMarker.setLatLng(latlng);
		} else {
			fixedMarker = L.marker(latlng, {
				icon : L.mapbox.marker.icon({
					'marker-color' : 'ff8888'
				})
			}).addTo(map);
		}

		var fc = fixedMarker.getLatLng();
		W= fc.lng;
		N= fc.lat;
		Wb = map.getBounds().getWest();
		Nb = map.getBounds().getNorth();
		
		point1 = L.latLng(Nb, W);
		point2 = L.latLng(N, Wb);
		distW = fc.distanceTo(point1);
		distN = fc.distanceTo(point2);
		distance = (Math.min(distW,distN));
		dist = distance.toFixed(0);
		//console.log("loadRestos: " + dist + "/" + map.getBounds().getCenter());
		uri = '/restos/' + dist + '/' + latlng.lat + '/' + latlng.lng;
		 
		fixedMarker.bindPopup("<a class='popup' href='" +uri + "'>PDJ plus proche</a>");
		
		
		// Add features to the map
		//restoLayer.setGeoJSON(restoLayer.loadURL(uri + '?format=geojson'));
		restoLayer.loadURL(uri + '?format=geojson');
		if (circle) {
			map.removeLayer(circle);
		}
		circle = L.circle(latlng, (distance * 0.98).toFixed(0),circle_options).addTo(map);

	}

	function showError(error) {
		switch (error.code) {
		case error.PERMISSION_DENIED:
			x.innerHTML = "User denied the request for Geolocation."
			break;
		case error.POSITION_UNAVAILABLE:
			x.innerHTML = "Location information is unavailable."
			break;
		case error.TIMEOUT:
			x.innerHTML = "The request to get user location timed out."
			break;
		case error.UNKNOWN_ERROR:
			x.innerHTML = "An unknown error occurred."
			break;
		}
	}
	function getPosition(position) {
		lat = position.coords.latitude;
		lon = position.coords.longitude;
//		lat = "44.837944";
//		lon = "-0.5748138";
		showMap(lat,lon);			
	}
	function requestUpdatedPoints(bounds) {
//		console.log("moveend:", bounds.getCenter());
		loadRestos(bounds.getCenter());
	}
	function showMap(latitude, longitude) {
		map.setView([ latitude, longitude ], 16);
		//x.innerHTML = lat + "/" + lon;
		var point = new L.LatLng(latitude, longitude);
		//console.log(point.toString());
		loadRestos(point);
		
			map.on('zoomend', function(e) {
				console.log("zoomend:", e.target.getBounds().getCenter());
				requestUpdatedPoints(e.target.getBounds())
			});
 
	}

	$(document).ready(
		function() {
			if (lat == null && lon == null ) {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(
							getPosition, showError);
				} else {
					x.innerHTML = "Geolocation is not supported by this browser.";
				}
			} else {
				showMap(lat,lon);
			}
			map.on('dragend', function(e) {
				console.log("dragend:", e.target.getBounds().getCenter());
				requestUpdatedPoints(e.target.getBounds())
			});

		});
</script>
}
