@(resto: Resto) 

@main() {
<div class="container restos-container">
<div class="starter-template">
	<!-- <div class="well">
		<p>beep.</p>
	</div> -->
	<div class="container" style="padding-left: 0px; padding-right: 0px;">
		<table class="table">
			<thead>
				<tr>
					<th>Quand?</th>
					<th style="text-align: right;">MenuDuJour?</th>
				</tr>
			</thead>
			<tbody>
			@for(menu <- resto.menus) {
				<tr>
					<td>@menu.creationDate</td>
					<td  style="text-align: right;">@menu.text</td> 
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
</div>
}
