@(restos: List[Resto]) 

@main() {
<div class="container restos-container">
<div class="starter-template">
	<!-- <div class="well">
		<p>beep.</p>
	</div> -->
	<div class="container" style="padding-left: 0px; padding-right: 0px;">
		<table class="table">
			<thead>
				<tr>
					<th>Loin?</th>
					<th style="text-align: right;">MenuDuJour?</th>
					<th style="text-align: right;">Resto</th>
				</tr>
			</thead>
			<tbody>
				@for(resto <- restos) {
				<tr>
					<td><a href="/carto/@resto.latitude/@resto.longitude">@resto.distance</a></td>
					<td  style="text-align: right;">@resto.menudujour</td> 
				@if(resto.internet && !resto.internet.isEmpty) {
					<td style="text-align: right;"><a target="_blank" href="http://@resto.internet">@resto.raisonSociale</a></td> 
				} else {
					<td style="text-align: right;">@resto.raisonSociale</td>
				}
	
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>
</div>
}